Makefile
Makefile.in
aclocal.m4
autom4te.cache
ChangeLog
config.guess
config.h
config.h.in*
config.log
config.status
config.sub
configure
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
mkinstalldirs
install-sh
missing
INSTALL
*.tar.gz
*.tar.bz2
stamp-h1
*.m4
NEWS.new
